.container {
  width: 100%;
  max-width: 1440px;
  max-height: 500px;
  margin: 0 auto;
  padding: 20px 0;
}

.button {
  display: block;
  margin: 0 auto 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(219, 206, 206);
  background-color: #00529c;
  border: 2px solid #00529c;
  cursor: pointer;
  transition: all 1s;
}

.button:hover {
  background-color: #222;
  transition: all 1s;
}
