.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #00529c;
}

.today {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.caption {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 15px;
  color: #00529c;
}

.caption span {
  flex: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


@media (max-width:768px) {
  .container {
    width: 95%;
  }

  .title {
    font-size: 2rem;
  }

  .caption {
    width: 95%;
  }
}

@media (max-width:375px) {
  .container {
    width: 98%;
  }

  .title {
    font-size: 1.8rem;
  }
}

