.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.today {
  text-align: center;
  text-transform: uppercase;
}

.list {
  padding: 0;
  list-style: none;
}

.item__text {
  display: flex;
  justify-content: space-between;
}

.item__text span {
  flex: 1;
  text-align: center;
}

.caption {
  display: flex;
  justify-content: space-between;
}

.caption span {
  flex: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.tooltip {
  opacity: 0;
}

.item:hover .tooltip {
  opacity: 1;
}

.extra {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(90% - 20px);
  height: calc(90% - 20px);
  padding: 10px;
  top: 5%;
  left: 5%;
  background-color: #222;
  border: 10px solid #00529c;
}

.extra__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #00529c;
}

.extra__button {
  position: fixed;
  top: 10%;
  right: 6%;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(219, 206, 206);
  background-color: #00529c;
  border: 2px solid #00529c;
  cursor: pointer;
  transition: all 1s;
}

.extra__button:hover {
  background-color: #222;
  transition: all 1s;
}

.extra__caption {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 15px;
}

.extra__caption span {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #00529c;
}

.extra__list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.extra__text {
  display: flex;
  justify-content: space-between;
}

.extra__text span {
  flex: 1;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #00529c;
}

.percent {
  color: green;
  font-weight: 700;
}

.red {
  color: red;
}

